.d-none {
    display: none;
}

.d-block {
    display: block;
}

@media (max-width: 575px) {
    .header__container {
        height: 60px;
    }

    .header__logo {
        font-size: 3rem;
    }

    .review-star {
        margin: 20px 0;
        justify-content: center;
    }

    .review-star svg {
        margin-right: 5px;
    }

    .footer-tittle-list li:first-child {
        margin-bottom: 10px;
    }
    

    .footer-tittle-list {
        margin-bottom: 20px;
    }
}

@media (min-width: 576px) {
    .d-sm-none {
        display: none;
    }

    .d-sm-block {
        display: block;
    }

    .d-sm-flex {
        display: flex;
    }

    .review-star {
        margin: 20px 0;
        justify-content: center;
    }

    .review-star svg {
        margin-right: 5px;
    }
}

@media (min-width: 768px) {
    .d-md-none {
        display: none;
    }

    .d-md-block {
        display: block;
    }

    .d-md-flex {
        display: flex;
    }
    
}

@media (min-width: 992px) {
    .d-lg-none {
        display: none;
    }

    .d-lg-block {
        display: block;
    }

    .d-lg-flex {
        display: flex;
    }

    .slide {
        height: 700px;
        margin-top: 70px;
    }

    .img-slide {
        padding-top: 700px;
    }

    .img-slide-link {
        transform: translateY(-30%);
    }
    
    .review-tittle-wrap {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .review-tittle-wrap .title-font {
        padding-left: 0;
    }

    .review-img-link {
        height: 310px;
    }
    

    .review-star {
        margin: unset;
        justify-content: center;
    }

    .review-star svg {
        margin-right: 5px;
    }

    .instagram-img {
        height: 230px;
    }
    
}

@media (min-width: 1200px) {
    .d-xl-none {
        display: none;
    }

    .d-xl-block {
        display: block;
    }

    .d-xl-flex {
        display: flex;
    }

    .main-categories-img-list {
        overflow-x: unset;
    }
}   

